html, body {height: 100%;}
#wrapper {min-height: 100%;    position: relative;}
#content { padding-bottom: 60px;}
body {padding-top: 50px; color:#777; }
h1, h2, h3, h4 { margin: 0; padding: 0;}
.navbar-user {box-shadow: 0 1px 1px #fff inset; border-bottom: 1px solid #ddd; background: #f8f8f8;background: -moz-linear-gradient(top,  #f8f8f8 0%, #f2f2f2 100%);background: -webkit-linear-gradient(top,  #f8f8f8 0%,#f2f2f2 100%);background: linear-gradient(to bottom,  #f8f8f8 0%,#f2f2f2 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f2f2f2',GradientType=0 );}
.navbar-user li a {font-size:12px; color:#777; }
.navbar-user li a span.label {margin-right: 3px;border-radius: 10px;  font-size: 11px; padding: 5px 7px;}
.navbar-user ul.dropdown li a {font-size:14px;}
.navbar-user ul.nav {margin-left: -15px;}
header { border-bottom: 1px solid #ddd;    border-top: 1px solid #ccc;    padding: 35px 0;}
header h1 {font-size:26px;}  
.left-col { border-right: 1px solid #ccc;    bottom: 0;    display: block;    left: 0;    overflow: auto;    padding: 0;    position: absolute;    top: 101px;}
.left-menu ul {margin: 0; padding: 0; list-style: none; margin-left: -15px;}
.left-menu ul li a {text-transform: uppercase; background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #f9f9f9, #f2f2f2) repeat scroll 0 0;    border-bottom: 1px solid #ccc;    border-top: 1px solid #fff;    box-shadow: 0 1px 1px #fff inset;    color: #777;    display: block;    font-size: 13px;    padding: 10px 20px;    text-decoration: none;}
.left-menu ul li a:hover, .left-menu ul li.active a {background: #1aaef3; color:#fff; background: -moz-linear-gradient(top,  #1aaef3 0%, #0993d3 100%);background: -webkit-linear-gradient(top,  #1aaef3 0%,#0993d3 100%);background: linear-gradient(to bottom,  #1aaef3 0%,#0993d3 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aaef3', endColorstr='#0993d3',GradientType=0 );}
.left-menu ul li a:hover i, .left-menu ul li.active a i {background-color: #167cac;    border: 1px solid #167cac;    color: #fff;}
.left-menu ul li a i {background: #eee none repeat scroll 0 0;    border: 1px solid #ccc;    border-radius: 30px;    color: #888;    display: inline-block;    height: 38px;    line-height: 38px;    margin-right: 5px;    text-align: center;    width: 38px;}
.right-side {padding-top:15px; padding-bottom: 15px; }
.selected-page { background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #f8f8f8, #f2f2f2) repeat scroll 0 0;    box-shadow: 0 1px 1px #fff inset;margin-left:-15px; margin-right: -15px; margin-top: -15px; margin-bottom: 15px; border-bottom: 1px solid #ddd;}
.selected-page .inner {   height: 58px;  padding: 8px 20px;}
.selected-page .border {border-bottom: 1px solid #fff;} 
.selected-page .inner h1 {float:left; font-size:22px; padding-top: 10px;}
.selected-page .inner .breadcrumb {float: right; font-size:12px;}
.alert-errors {background-color: #e11c16;    color: #fff;    font-weight: bold;    left: 50%;    margin-left: -140px;    padding: 40px;    position: absolute;    text-align: center;    top: 10px;    width: 280px;    z-index: 2000;}
.alert-errors a {position: absolute; top:10px; right:10px; color:#fff;}
.form-verifing {margin-top: 30px; color:#333; background-color: #fff; padding: 15px; -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);}
.form-verifing h2 {font-size:22px; margin-bottom: 20px;}
.form-verifing label {font-size:13px;}
.site-form .field { border:1px solid #e9e9e9; box-shadow: none; border-radius: 0; height: 40px;}
.site-form .field.area {height: 200px;}
.panel-content { background-color: #fafafa;    border: 1px solid #c9c9c9;    border-radius: 3px;    margin-bottom: 20px; }
.panel-content .head { background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #f8f8f8, #f2f2f2) repeat scroll 0 0;    border-bottom: 1px solid #ccc;    border-top: 1px solid #fff;    border-top-left-radius: 3px;    border-top-right-radius: 3px;    color: #666;    font-size: 13px;    font-weight: bold;    padding: 8px 15px;    text-shadow: 0 1px #fff;}.panel-content .body {    padding: 13px 15px;}
.panel-content .footer { background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #f8f8f8, #f2f2f2) repeat scroll 0 0;    border-bottom: 1px solid #fff;    border-bottom-left-radius: 3px;    border-bottom-right-radius: 3px;    border-top: 1px solid #ccc;    box-shadow: 0 1px 1px #fff inset;    color: #555;    font-size: 12px;    padding: 8px 15px;    text-shadow: 0 1px #fff;}
.list-firms {list-style: none; margin: -15px; padding: 0;}
.list-firms li {  background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #fafafa, #f6f6f6) repeat scroll 0 0;    border-top: 1px solid #ccc;    padding: 10px;}
.list-firms li span {float:right;}
.list-firms li a {color:#333; float: right; margin-left: 5px;}
.list-firms li a i {background: #ccc none repeat scroll 0 0;    border-radius: 50px;    font-size: 10px;    height: 17px;    line-height: 17px;    text-align: center;    width: 17px;}
.btn-green {background-color: #32cd32; color:#fff}
.btn-green:hover {background-color: #29b329; color:#fff;}
.btn-orange {background-color: #eb8900; color:#fff}
.btn-orange:hover {background-color: #d98004; color:#fff;}
.special-radio .control {font-size: 14px;position: relative; padding-left: 23px; margin-left: 5px; cursor: pointer; padding-top: 3px;}
.special-radio .control input {	position: absolute;	z-index: -1;	opacity: 0;}
.special-radio .control__indicator {	position: absolute;top: 2px;left: 0;width: 20px;height: 20px;background: #e6e6e6;}
.special-radio .control--radio .control__indicator {	border-radius: 50%;}
.special-radio .control:hover input ~ .control__indicator,.special-radio .control input:focus ~ .control__indicator {	background: #2aa1c0;}
.special-radio .control input:checked ~ .control__indicator {	background: #2aa1c0;}
.special-radio .control:hover input:not([disabled]):checked ~ .control__indicator,.special-radio .control input:checked:focus ~ .control__indicator {	background: #0e647d;}
.special-radio .control input:disabled ~ .control__indicator {	pointer-events: none;opacity: .6;	background: #e6e6e6;}
.special-radio .control__indicator:after {position: absolute;display: none;	content: '';}
.special-radio .control input:checked ~ .control__indicator:after {display: block;}
.special-radio .control--checkbox .control__indicator:after {top: 4px;left: 8px;width: 3px;height: 8px;transform: rotate(45deg);border: solid #fff;border-width: 0 2px 2px 0;}
.special-radio .control--checkbox input:disabled ~ .control__indicator:after {border-color: #7b7b7b;}
.special-radio .control--radio .control__indicator:after {top: 7px;left: 7px;width: 6px;height: 6px;border-radius: 50%;background: #fff;}
.special-radio .control--radio input:disabled ~ .control__indicator:after {background: #7b7b7b;}
.new-invoice {padding:0 100px; padding-top:20px; color:#414141;}
.new-invoice .type {margin-bottom: 30px;} 
.new-invoice .type .special-radio {display: inline;}
.new-invoice .type .special-radio .control {font-weight: normal;}
.new-invoice .inner {padding:50px; border: 1px solid #d8d8d8; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15); margin-bottom: 15px;}
.new-invoice .choose {color:#26b6e8; text-transform: uppercase; font-size: 12px;}
.new-invoice .choose:hover {text-decoration: none;}
.new-invoice .choose i {  background: #eee none repeat scroll 0 0;    border: 1px solid #ccc;    border-radius: 30px;    color: #888;    display: inline-block;    height: 28px;    line-height: 25px;    margin-right: 3px;    text-align: center;    width: 28px;}
.new-invoice .choose span {font-size:10px;}
.new-invoice .client .form-control {display: inline; width:auto;}
.new-invoice .client label {display: block;}
.new-invoice .client .choose {float: right;}
.new-invoice .maturity-date {display:  none;}
.new-invoice .table-items {border:1px solid #d8d8d8; margin-bottom: 15px;}
.new-invoice .table-items tr td {border-top:0;}
.new-invoice .table-items thead tr th {border-bottom:1px solid #d8d8d8;}
.new-invoice .add-new-item {background-color: #f8f8f8; display: inline-block;  border-radius: 1000px; padding: 6px 20px 7px;   transition: background-color 0.1s ease-in-out 0s;}
.new-invoice .add-new-item:hover {text-decoration: none; background-color: #f3f3f3;}
.new-invoice .items-features, .new-invoice .remarks, .new-invoice .amounts {margin-bottom: 20px;} 
.new-invoice .amounts .text-discount, .new-invoice .amounts .select-discount {width:80px; display: inline-block;} 
.new-invoice .amounts .amount {text-align: right;}
.new-invoice .amounts .vat-field {width:50px; text-align: right; display: inline-block;}
.new-invoice .amounts .discount {float: right;}
.new-invoice .amounts .total {font-size:25px;}
.new-invoice .quantity-field {text-align: right;}
.new-invoice .quantity-field, .new-invoice .quantity-type {width:60px; display: inline-block;}
.new-invoice .quantity-type { width:90px;}
.new-invoice .price-field {width:150px; display: inline-block; text-align: right;}
.new-invoice .table-responsive {overflow: visible;} 
.new-invoice .column-data {margin-bottom: 15px;}
.new-invoice .field {height: 35px;}
.new-invoice .field.area {height: 100px;}
.new-invoice h1 {margin-bottom: 30px;}
.new-invoice .invoice-setting {max-width: 400px; float: right;}
.new-invoice .amount-row {margin-bottom: 15px;}
.new-invoice .discount-txt {padding-top: 12px;}
.new-invoice .total-row {border-top: 1px solid #f3f3f3; padding-top: 15px;}
.new-invoice .item-total-price {padding-top: 7px;} 
.new-invoice .actions {display: none;}
.new-invoice .field-item-name {width:auto; display: inline-block;}
.new-invoice .no-vat-field {display: none;}
.new-invoice .no-vat-field .form-control { margin-bottom: 5px;}
.new-invoice .select-currency {margin-bottom: 10px}
.new-invoice .the-vat {padding-top:10px;}
.new-invoice .no-vat {padding-top:20px;}
.new-invoice .inv-type-num {font-weight:bold;} 
.new-invoice .credit-debit-option {display: none;}
.new-invoice .choose-translation {display: inline;}
.client-individial {display: none;}
.client-vat-registered {display: none;}
.selected-new-default, .not-selected-new-default {display: none;}
.btn {border-radius: 0;}
.view-container {width: 100%; height: 100%;  padding: 40px; }
footer { background-color: #f8f8f8;    border-top: 1px solid #e7e7e7;    bottom: 0;    color: #333;    height: 60px;    left: 0;    padding: 20px 0;    position: absolute;    text-align: center;    width: 100%;}

@media screen and (max-width: 767px) {
    .left-col {position:relative; top:0; margin-bottom: 20px;}
    .new-invoice .table-responsive {overflow-x: auto;}
    /* Dont zoom fileds! */
    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    textarea {
        font-size: 16px;
    }
    /* Dont zoom fileds! */
}

