/*
 * Invoice Templates 
 */
.col-right {background-color: #ccc;}
.invoice-box {width:793px; margin: 0 auto; -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.70);-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.70);box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.70);}
tr {page-break-inside: avoid !important;}
.view-container .pageDelivery {position: absolute; top:0; width: 833px; left:50%; margin-left: -416px; height: 38px; background-image: url('/assets/users/imgs/pages-delivery.png');}

.invoice-creative { min-height: 1000px; background-color: #fff; padding:35px; font-size:14px; font-family: Arial;}
.invoice-creative .row-my-firm {color:#6c6c6c; margin-bottom: 30px;}
.invoice-creative .firm-logo {width:200px;float: left; margin-right: 50px;}
.invoice-creative .firm-logo img {width: 100%;}
.invoice-creative .my-firm-info {float: left; font-size:16px; max-width: 400px; word-break: break-all; overflow: hidden;}
.invoice-creative .my-firm-info p {margin-bottom: 4px;}
.invoice-creative .my-firm-info .firm-name {margin-bottom: 7px;}
.invoice-creative p {margin-bottom: 7px;}
.invoice-creative .row-my-firm .firm-name {color:#3193c4; font-size:20px;}
.invoice-creative .invoice-type {font-size:16px; color:#3193c4; display: inline-block; margin-bottom: 5px;}
.invoice-creative .row-invoice-info .info {color:#2d2d2d; border-top:2px solid #c6c6c6; border-bottom:2px solid #c6c6c6; padding-top: 7px; padding-bottom: 7px;}
.invoice-creative .head-td {padding-right: 20px;}
.invoice-creative .row-invoice-info table {float: left; width: 210px; margin-right: 40px;}
.invoice-creative .row-invoice-info .client-info {float: left; max-width:200px; word-break: break-all; overflow: hidden;}
.invoice-creative .row-invoice-info { margin-bottom: 30px;}
.invoice-creative .row-invoice-info .origin {float:right; text-transform: uppercase; font-size: 36px;}
.invoice-creative .items-table  {color:#2c2c2c;}
.invoice-creative .items-table .item-name {color:#3193c4;}
.invoice-creative .invoice-totals {float: right; width:300px; text-align: right; font-size:16px; color:#2c2c2c; }
.invoice-creative .invoice-totals table {width:100%;}
.invoice-creative .invoice-totals .info {text-align: left;}
.invoice-creative .invoice-totals .final-total td {padding-top: 20px; font-size: 18px;}
.invoice-creative .invoice-totals .final-total .total-price {color:#3193c4;}
.invoice-creative .invoice-payment {float:left; color:#2c2c2c; max-width: 200px; word-break: break-all; overflow: hidden;}
.invoice-creative .invoice-payments {margin-bottom: 30px;}
.invoice-creative .recipient {margin-bottom: 30px; color:#2c2c2c;}
.invoice-creative .recipient .rec {float: left;}
.invoice-creative .recipient .comp {float: right;}
.invoice-creative .signature {margin-bottom: 30px; color:#2c2c2c;}
.invoice-creative .signature .sign {float: left;}
.invoice-creative .signature .cipher {float: right;}
.invoice-creative .remarks {color:#2c2c2c;}

.invoice-toner-save { min-height: 1000px; background-color: #fff; padding:35px; font-size:14px; font-family: Arial; color:#000;}
.invoice-toner-save .row-my-firm {margin-bottom: 30px;}
.invoice-toner-save .firm-logo {width:200px;float: left; margin-right: 50px;}
.invoice-toner-save .firm-logo img {width: 100%;}
.invoice-toner-save .my-firm-info {float: left; font-size:16px; max-width: 400px; word-break: break-all; overflow: hidden;}
.invoice-toner-save .my-firm-info p {margin-bottom: 4px;}
.invoice-toner-save .my-firm-info .firm-name {margin-bottom: 7px;}
.invoice-toner-save p {margin-bottom: 7px;}
.invoice-toner-save .row-my-firm .firm-name { font-size:20px;}
.invoice-toner-save .invoice-type {font-size:16px; display: inline-block; margin-bottom: 5px;}
.invoice-toner-save .row-invoice-info .info {padding-top: 7px; padding-bottom: 7px;}
.invoice-toner-save .head-td {padding-right: 20px;}
.invoice-toner-save .row-invoice-info table {float: left; width: 210px; margin-right: 40px;}
.invoice-toner-save .row-invoice-info .client-info {float: left; max-width:200px; word-break: break-all; overflow: hidden;}
.invoice-toner-save .row-invoice-info { margin-bottom: 30px;}
.invoice-toner-save .row-invoice-info .origin {float:right; font-weight: normal; text-transform: uppercase; font-size: 36px;}
.invoice-toner-save .invoice-totals {float: right; width:300px; text-align: right; font-size:16px; }
.invoice-toner-save .invoice-totals table {width:100%;}
.invoice-toner-save .invoice-totals .info {text-align: left;}
.invoice-toner-save .invoice-totals .final-total td {padding-top: 20px; font-size: 18px;}
.invoice-toner-save .invoice-payment {float:left;  max-width: 200px; word-break: break-all; overflow: hidden;}
.invoice-toner-save .invoice-payments {margin-bottom: 30px;}
.invoice-toner-save .recipient {margin-bottom: 30px; }
.invoice-toner-save .recipient .rec {float: left;}
.invoice-toner-save .recipient .comp {float: right;}
.invoice-toner-save .signature {margin-bottom: 30px; }
.invoice-toner-save .signature .sign {float: left;}
.invoice-toner-save .signature .cipher {float: right;}
.invoice-toner-save .table th {font-weight: normal;}