body {font-family: "Open Sans",Arial,sans-serif;}

.login {float:right;}
#collapseLogin {background-color: #eb8900; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; padding: 10px; color:#fff; float:right;}
#collapseLogin .my-addr {border:0; color:#333; width:175px; padding:5px 8px; font-size:12px;}
#collapseLogin span {font-size:12px; display: inline-block; width: 55px; }
#collapseLogin .form-group { margin-bottom: 5px;}
#collapseLogin .form-group:last-child { margin-bottom: 0; }
#collapseLogin form {margin: 0;}
#collapseLogin .logme {padding: 2px 5px; }
#collapseLogin .forgot {font-size: 12px; color:#fff;}
 
.modal-content {border-radius: 0; }
.form-registration .form-control {border:1px solid #e9e9e9; border-radius: 0; box-shadow: none; height: 40px;}
.form-registration label {font-size:12px;}
.form-registration sup {color:red; font-size:14px;}
 
.btn-orange {background-color: #eba800; background-image: linear-gradient(to bottom, #eb8900, #ebd700); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
#subpage {background-color: #292929; padding-top:20px; padding-bottom:20px; color:#fff; font-size:20px;} 
.uppercase {text-transform: uppercase;}
.alert-errors {background-color: #e11c16;    color: #fff;    font-weight: bold;    left: 50%;    margin-left: -140px;    padding: 40px;    position: absolute;    text-align: center;    top: 10px;    width: 280px;    z-index: 2000;}
.alert-errors a {position: absolute; top:10px; right:10px; color:#fff;}
.langs {margin: 0; padding: 0; list-style: none; margin-bottom: 10px; margin-top: 10px; display: inline-block; }
.langs li {display: inline;}

.inv-accept {padding-top: 20px;}
.inv-accept .logo { display: inline-block; margin-bottom: 20px;}
.inv-accept h1 {margin: 0; margin-bottom: 20px; font-size:28px;}
.inv-accept hr {margin: 0; margin-bottom: 20px;}
.inv-accept .view-container {height: 461px; overflow:scroll; background: #ccc; border:4px solid #bdbdbd; margin-bottom: 20px;}
.inv-accept .action {width:100%; margin-bottom: 20px;}
.inv-accept .action span {font-size:22px; text-transform: uppercase; display: inline-block; }
.inv-accept .footer-text {text-align: right;}
.inv-accept .refuse-reason {margin-bottom: 20px; width: 100%; font-size: 14px; padding: 10px;}
.inv-accept .status-label {width:100%; margin-bottom: 20px; height: 40px; text-align: center; font-size: 16px; line-height: 40px;}
 
/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
 
    /* Dont zoom fileds! */
    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    textarea {
        font-size: 16px !important;
    }
    /* Dont zoom fileds! */
}
 